In [1]:
import pandas as pd

In [2]:
customer_info = pd.read_excel('1.1 고객정보.xlsx')
product_info = pd.read_excel('2.1 상품정보.xlsx')
order_info = pd.read_excel('3.1 주문정보.xlsx')
pay_info = pd.read_excel('4.1 결제정보.xlsx')
refund_info = pd.read_excel('5.1 환불정보.xlsx')

In [7]:
customer_info.head(5)

,회원번호,회원등급,가입일,최종방문일,본인인증,성별,나이,자주쓰는배송지 도로명,자주쓰는배송지 지번
0,1476,임직원,2016-11-05 00:00:00,2018-04-30 17:34:58,-,M,31,서울 금천구 가마산로 70,-
1,1873,임직원,2017-11-02 15:54:32,2018-11-05 10:12:51,MOBILE,M,32,경기 고양시 일산서구 고양대로 620,경기 고양시 일산서구 일산동 960-6
2,1874,임직원,2017-11-02 15:55:11,2018-11-07 07:27:31,MOBILE,M,39,경기 성남시 분당구 판교역로 4,경기 성남시 분당구 백현동 582-7
3,1875,임직원,2017-11-02 16:08:18,2018-11-05 08:35:48,MOBILE,F,29,서울 은평구 연서로34가길 10-16,서울 은평구 불광동 346-87
4,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8

In [8]:
product_info.head(5)

,상품번호,상품명,업체명,카테고리명,브랜드명,상품구분,대표판매가,배송비,판매상태,전시상태
0,G1708291036_0216,[라이마스] 에어_630630,(주)라이마스,홈데코레이션,LIMAS,일반,220000.0,50000.00 이하 5500.00,품절,N
1,G1708291049_0217,[라이마스] 에어_730350,(주)라이마스,홈데코레이션,LIMAS,일반,275000.0,50000.00 이하 5500.00,품절,N
2,G1708291054_0220,[라이마스] 에어_1200190,(주)라이마스,홈데코레이션,LIMAS,일반,270000.0,50000.00 이하 5500.00,판매중,Y
3,G1708291058_0221,[라이마스] 에어_730190,(주)라이마스,홈데코레이션,LIMAS,일반,165000.0,50000.00 이하 5500.00,판매중,Y
4,G1708291109_0222,[라이마스] 에어_730750,(주)라이마스,홈데코레이션,LIMAS,일반,565000.0,50000.00 이하 5500.00,품절,N

In [9]:
order_info.head(5)

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명,옵션명,수량,판매가,배송비,쿠폰할인액,회원주문여부,회원번호
0,1711080845542139,1,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,0.0,9760.0,Y,1876
1,1711080902432145,1,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1,7800.0,2500.0,1560.0,Y,1876
2,1711080932562165,1,2017-11-08 09:33:20,결제취소,서울 영등포구 국제금융로2길 32,G1710311843_6700,(임직원 전용)[런드레스] 울 캐시미어 스프레이 세다 cedar (4 fl.oz),NaN,1,16200.0,0.0,3240.0,Y,1882
3,1711080934572167,1,2017-11-08 09:35:19,환불완료,서울 영등포구 국제금융로2길 32,G1710311906_7061,(임직원 전용)[트레비앙] 전동 와인 오프너_DM-503,NaN,1,35040.0,3000.0,7000.0,Y,1882
4,1711080944432170,1,2017-11-08 09:45:08,결제취소,서울 영등포구 국제금융로2길 32,G1710311843_6698,(임직원 전용)[런드레스] 패브릭 프레쉬 베이비 Baby (4 fl.oz.),NaN,1,16200.0,0.0,3240.0,Y,1882

In [10]:
pay_info.head(5)

,주문번호,결제번호,결제일시,진행구분명,결제수단,결제금액,카드사,할부개월
0,1709061018150051,18,2017-09-06 10:19:59,완료,신용카드,10500.0,삼성카드,0.0
1,1709111530200146,46,2017-09-11 15:32:42,완료,신용카드,27500.0,삼성카드,0.0
2,1709241514300410,161,2017-09-24 15:24:39,완료,가상계좌,30500.0,NaN,NaN
3,1709261646470481,210,2017-09-26 17:05:03,완료,신용카드,0.0,삼성카드,0.0
4,1709262044350511,233,2017-09-26 20:55:24,완료,신용카드,7500.0,신한카드,0.0

In [11]:
refund_info.head(5)

               주문번호  환불번호 진행구분  결제수단      환불금액  할부개월                환불일자
0  1709061012340050    17   취소  신용카드   37000.0   0.0 2017-09-06 10:14:22
1  1709111558160149    48   취소  가상계좌    6850.0   NaN 2017-09-12 16:42:22
2  1709121552530178    71   취소  가상계좌  249500.0   NaN 2017-09-12 15:56:20
3  1709211749040335   121   취소  가상계좌  409200.0   NaN 2017-09-21 17:51:50
4  1709221305150350   128   취소  신용카드   12060.0   0.0 2017-09-22 13:12:27

In [3]:
df1 = pd.merge(order_info, customer_info, on = '회원번호', how='outer')

In [5]:
df1

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명,옵션명,수량,판매가,...,회원주문여부,회원번호,회원등급,가입일,최종방문일,본인인증,성별,나이,자주쓰는배송지 도로명,자주쓰는배송지 지번
0,1.711081e+15,1.0,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1.0,48840.0,...,Y,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
1,1.711081e+15,1.0,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1.0,7800.0,...,Y,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
2,1.711291e+15,1.0,2017-11-29 09:02:43,결제취소,서울 영등포구 국제금융로2길 32,G1710271341_5922,[프리쉐] 휴대용 UV LED 칫솔살균기 PA-TS700,칼라:레드,1.0,9000.0,...,Y,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
3,1.712131e+15,1.0,2017-12-13 09:37:03,구매확정,서울 영등포구 국제금융로2길 32,G1710271341_5922,[프리쉐] 휴대용 UV LED 칫솔살균기 PA-TS700,칼라:레드,1.0,9000.0,...,Y,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
4,1.711081e+15,2.0,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:스카이블루,1.0,7800.0,...,Y,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57782,일반,2018-11-07 00:55:40,2018-11-07 00:55:54,NaN,-,NaN,-,-
64840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57787,일반,2018-11-07 06:12:23,2018-11-07 06:15:17,NaN,-,NaN,-,-
64841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57790,일반,2018-11-07 08:58:23,2018-11-07 08:58:38,NaN,-,NaN,-,-
64842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57792,일반,2018-11-07 09:49:43,2018-11-07 09:49:43,NaN,-,NaN,-,-
64843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57793,일반,2018-11-07 10:06:54,2018-11-07 10:07:07,MOBILE,M,NaN,-,-

In [4]:
df = pd.merge(df1, pay_info, on = '주문번호', how='outer')

In [6]:
df

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명,옵션명,수량,판매가,...,나이,자주쓰는배송지 도로명,자주쓰는배송지 지번,결제번호,결제일시,진행구분명,결제수단,결제금액,카드사,할부개월
0,1.711081e+15,1.0,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1.0,48840.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.711081e+15,1.0,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1.0,7800.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.711081e+15,2.0,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:스카이블루,1.0,7800.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.711291e+15,1.0,2017-11-29 09:02:43,결제취소,서울 영등포구 국제금융로2길 32,G1710271341_5922,[프리쉐] 휴대용 UV LED 칫솔살균기 PA-TS700,칼라:레드,1.0,9000.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.712131e+15,1.0,2017-12-13 09:37:03,구매확정,서울 영등포구 국제금융로2길 32,G1710271341_5922,[프리쉐] 휴대용 UV LED 칫솔살균기 PA-TS700,칼라:레드,1.0,9000.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,1467.0,2017-12-13 09:37:03,완료,휴대폰결제,14400.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75904,1.709271e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,266.0,2017-09-27 14:09:35,완료,적립금,700.0,NaN,NaN
75905,1.709281e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,316.0,2017-09-28 09:55:33,완료,적립금,33200.0,NaN,NaN
75906,1.709282e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,357.0,2017-09-28 18:39:12,완료,적립금,6300.0,NaN,NaN
75907,1.709291e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,411.0,2017-09-29 11:43:07,완료,적립금,6300.0,NaN,NaN
75908,1.710101e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,466.0,2017-10-10 10:57:38,완료,적립금,33200.0,NaN,NaN

In [12]:
# customer, order, pay 파일 합쳐서 하나의 파일로 만들기
df.to_excel('이서영_merge_info.xlsx', index=False)